{{> head}}
<body>
    {{{body}}}

{{> footer}}
</body>
</html>
{{!-- Это главный layout. Основа каждой страницы. Она состоит из частей: head, body, footer, navbar.
Нам не нужно указать хэддер на каждой странице, а создать часть хед один раз и потом каждый раз добавлять её в новую страницу. 
{{{body}} это тело каждой страницы, текст мы прописываем в каждом файле разный. В футтере храним скрипты.--}}