<h3 class="mainTitle">Хотите добавить свой фильм?</h3>
<p class="regularText">Заполните форму ниже: укажите название, жанр, год выпуска и описание. И ваш фильм добавится на сайт.</p>
<a class="regularText" href="/">К фильмам</a>
