<h3 class="mainTitle" >Lumer's - энциклопедия кино!</h3>
<div class="buttonAddFilm">
    <a href="/addfilm" class="waves-effect waves-light large btn-large"><i class="large material-icons right">add_box</i>Добавить фильм</a>
</div>